header {
  min-height: 0px;
  background-color: var(--orange);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

header h1 {
  margin: 0;
}

header a, .sidebar a {
  text-decoration: none;
}