* {
  box-sizing: border-box;
  --orange: #fdba74;
  --amber: #d97706;
  --black: #000000;
  --transit: 0.25s ease;
}

html,
body,
#root {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

a,
a * {
  color: var(--black);
  transition: color var(--transit);
}


a:hover,
a:focus,
a:hover *,
a:focus * {
  color: var(--amber);
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 5fr;
  grid-template-columns: clamp(150px, 20%, 210px) 1fr;
}

main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding: 20px;
  text-align: center;
}

label {
  font-weight: bold;
  margin: 0;
}

.stats h1 {
  margin: 100px 0 30px 0;
}

.stats table {
  margin: 0 auto;
  border-collapse: collapse;
}

.stats table tr td:first-child {
  font-weight: bold;
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  /* .plotly {
    width: 50%;
    height: 200px;
  } */
}